.ipynb_checkpoints/Python Introduction_02-checkpoint.ipynb
Exercises/.ipynb_checkpoints/PolyDivisible-checkpoint.ipynb
src/__pycache__/hw.cpython-37.pyc
Machine_Learning_intro_scikit-learn/.ipynb_checkpoints/Irises Data Analysis Workflow_classwork_2020_04-checkpoint.ipynb
